<div class="form-container">
  <form (ngSubmit)="onSubmit()" #paymentForm="ngForm">

    <!-- Tipo Identificación -->
    <div class="form-group">
      <label for="identificationType">Tipo Identificación</label>
      <select id="identificationType" class="form-control" name="identificationType"
        [(ngModel)]="formData.identificationType" (change)="updateMask()" required [disabled]="isFormDisabled" [ngClass]="{ 'is-invalid': identificationTypeError }">
        <option *ngFor="let key of documentMaskKeys" [value]="key">
          {{ key }}
        </option>
      </select>
      <!-- Mostrar el mensaje de error -->
      <div *ngIf="identificationTypeError" class="text-danger">
        {{ identificationTypeError }}
      </div>
    </div>

    <!-- Identificación -->
    <div class="form-group">
      <label for="identification">Identificación</label>
      <input type="text" id="identification" class="form-control" name="identification"
        [(ngModel)]="formData.identification" (input)="applyMask()" (keypress)="onlyNumbers($event)"
        [maxlength]="getMaxLength()" (focusout)="onIdentificationFocusOut()" required [disabled]="isFormDisabled"
        [ngClass]="{ 'is-invalid': identificationError }" />
      <!-- Mostrar el mensaje de error -->
      <div *ngIf="identificationError" class="text-danger">
        {{ identificationError }}
      </div>
    </div>


    <!-- Operación -->
    <div class="form-group">
      <label for="operation">Operación</label>
      <select id="operation" class="form-control" name="operation" [(ngModel)]="formData.operation"  [ngClass]="{ 'is-invalid': operacionError }" required (focusout)="validateOperation()"
        [disabled]="isFormDisabled">
        <option *ngFor="let op of operations" [value]="op">{{ op }}</option>
      </select>
      <div *ngIf="operacionError" class="text-danger">
        {{ operacionError }}
      </div>
    </div>

    <!-- Número de referencia -->
    <div class="form-group">
      <label for="referenceNumber">Número de referencia</label>
      <input type="number" id="referenceNumber" class="form-control" name="referenceNumber"
        [(ngModel)]="formData.referenceNumber" [ngClass]="{ 'is-invalid': referenciaError }" required [disabled]="isFormDisabled" (focusout)="validateReferenceNumber()" />
      <!-- Mostrar el mensaje de error -->
      <div *ngIf="referenciaError" class="text-danger">
        {{ referenciaError }}
      </div>
    </div>

    <!-- Fecha de Pago -->
    <div class="form-group">
      <label for="paymentDate">Fecha de Pago</label>
      <input type="date" id="paymentDate" class="form-control" name="paymentDate" [(ngModel)]="formData.paymentDate"  (focusout)="validatePaymentDate()"
        required [disabled]="isFormDisabled" [ngClass]="{ 'is-invalid': fechaPagoError }"  [max]="today" />
      <div *ngIf="fechaPagoError" class="text-danger">
        {{ fechaPagoError }}
      </div>
    </div>

    <!-- Monto pagado -->
    <div class="form-group">
      <label for="amountPaid">Monto pagado</label>
      <input type="number" id="amountPaid" class="form-control" name="amountPaid" [(ngModel)]="formData.amountPaid" (focusout)="validateAmountPaid()"
        required [disabled]="isFormDisabled" [ngClass]="{ 'is-invalid': montoPagadoError }" />
      <div *ngIf="montoPagadoError" class="text-danger">
        {{ montoPagadoError }}
      </div>
    </div>

    <div class="form-group"></div>

    <!-- Botón Guardar -->
    <button type="submit" class="btn btn-success" [disabled]="isFormDisabled">ENVIAR</button>
  </form>
</div>